body {

    color: #000000;
    background-color: rgb(78, 180, 206);
  }
 
 .lorem-ipsum {
     font-family:'Gill Sans MT'; 
     font-size: 12;
    }  
    .jumbotron {
      background-image: url("/images/germs.jpg");
      background-size: 100% 100%;
      text-align: center;
    }
    